<html>
<html>
  <head>
    <title>ScopeSpeaker (Web / React-js)</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <main id="webscopespeaker"></main>
    <script src="/js/webscopespeaker.js"></script>
  </body>
</html>

