<!doctype html>
<html>
  <head>
    <title>ScopeSpeaker (web)</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
      $(document).ready(function() {
        // TODO: code here to define the JS functionality we'll need to talk to the Periscope web and chat servers
      });
    </script>
  </head>
  <body>
    <form>
      <input type="submit" value="Say the chat messages of">
      <input id='user' placeholder='Periscope user name...' />
    </form>
    <pre id='message'></pre>
  </body>
</html>
