<!doctype html>
<html>
  <head>
    <title>ScopeSpeaker (web)</title>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
$(document).ready(function() {

var username = "";

$("#start_chat").click(function() {
    username = $('#user').val();
    getPeriscopeUserData(username);
    //alert("User name is: " + username);
});

// method to request data about a Periscope user
//
var getPeriscopeUserData = function(user)
{
    console.log("host url is:" + window.location.href);

    $.ajax({url: window.location.href + user, type: 'GET',
            contentType: 'application/x-www-form-urlencoded', dataType: 'text',
            success: onSuccessGetUserData, error: onAjaxError});
};

// AJAX error handler
//
var onAjaxError = function(err)
{
    $("#message").html("An error occured: " + err);
};

function encode_utf8( s ){
        return unescape( encodeURIComponent( s ) );
}
// AJAX success handler - extract Periscope user info from received HTML response
//
var onSuccessGetUserData = function(response, status_info)
{
    alert("Server response:" + response);
}


});
</script>
  </head>
  <body>
      <input id="start_chat" type="button" value="Say the chat messages of">
      <input id='user' placeholder='Periscope user name...' />
    <pre id='message'></pre>
  </body>
</html>
