body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: normal;
  background-color: #fcfcfc;
  background-image: url(/images/bg.png);
}

.message {
  width: 100%;
}

.user_input {
	width: calc(80%);
	font-size: 20px;
	line-height: 35px;
	background: #E4E4E4;
	border: 0;
	padding: 0 10px;
	outline: 0;
  position: fixed;
  top: 10px;
  left: calc(20%);
  z-index: 1;
  box-shadow: 0px 3px 7px -3px #666;
}

.say_button {
	font-size: 20px;
  position: fixed;
  top: 10px;
}
